@charset "utf-8";

body {
  background-image: url(images/top.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.title {
  
  padding: 10px;
}

.About {
  
  padding: 10px;
}

.Works {
  
  padding: 10px;
}

p {
  padding: 20px;
  
}

a {
  padding: 10px;
  
}

/* ユニバーサルセレクタでデフォルトの余白をリセット */
* {
	margin: 0;
	padding: 0;
  width: 500px;
}

/* サイト共通コンテナ */
.container {
	max-width: 1040px;
	height: 100%;
	margin: 0 auto;
}

header {
	margin-bottom: 30px;
}

/* モーダルウィンドウ */
ul{
	width:1040px;
}
ul li{
	float:left;
	list-style-type:none;
}
ul li img{
  display: block;
	border:0;
	margin:10px;
  height: 100px;
  width: 100px;
}
ul::after {
	content: "";
	display: block;
	clear: both;
}

html,body,main {
	height: 100%;	/* gray_layer（半透明レイヤー）をブラウザ画面全体に広げるため、親要素を全部100%にする */
  
}

#glay_layer {
	display: none;
	position: fixed;	/* 位置を固定 */
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.60;
}

#over_layer {
	display: none;
	position: fixed;	/* 位置を固定 */
	top: 50%;
	left: 50%;
	margin-top: -367px;		/* 画像の高さの半分の値 */
	margin-left: -325px;	/* 画像の横幅の半分の値 */
  width: 500px;
}
